<div class="home_quote">
  <span class="quote_title">Share and Discover New Books, CDs, and DVDs.</span>
  <ul>
  	<li>Share your knowledge of Books, Cds, and DVDs.</li>
	<li>Add reviews to Books, CDs, and DVDs.</li>
	<li>Rate Books, CDs, and DVDs</li>
	<li>Organize them with tags.</li>
  </ul>
</div>
