<div id="signin_section">
  <div class="signin_box">
    <% form_tag({:controller=> "user", :action=> "login"}, {:id=>'signin_form'}) do %>
      <div class="signin_field">
        <label for="user_login">Username:</label>
        <%= text_field "user", "login", :size => 20 %>
      </div>
      <div class="signin_field">
        <label for="user_password">Password:</label>
        <%= password_field "user", "password", :size => 20 %>
      </div>
      <div class="signin_button">
        <%= submit_tag "Login" %>&nbsp;&nbsp;
      </div>
    <% end %>
  </div>
</div>
