<% count = 0 %>
<% dvds.each do |dvd| %>
  <% if (count == 0) %>
    <% count = 1 %>
    <div class="asset_data_first">
  <% else %>
    <div class="asset_data">
  <% end %>
  <%= render :partial => 'dvd/dvd_detail', :locals => { :dvd => dvd, :search => false } %>
  </div>
<% end %>
<div style="clear:both">&nbsp;</div>

<% if logged_in %>
    <script>
        document.observe('dom:loaded', function() {
           <% dvds.each do |dvd| %>
			  new Ajax.InPlaceEditor('tag_list_<%= dvd.id %>', '/dvd/update_tags?authenticity_token=<%= form_authenticity_token() %>');
           <% end %>
        });
    </script>
<% end %>